/target
.idea/

*.kate-swp

pkg/AppImage/dist
pkg/AppImage/AppDir

pkg/AppImage/quick-sharun

pkg/GIT/.MTREE
pkg/GIT/.PKGINFO
pkg/GIT/.BUILDINFO

pkg/GIT/src/metapac/
pkg/GIT/src/metapac-*


pkg/GIT/pkg

pkg/GIT/*.tar.gz

pkg/GIT/*.pkg.tar.zst
