[package]
name = "metapac"
description = "multi-backend declarative package manager"
version = "0.2.6"
edition = "2021"
license = "GPL-3.0-or-later"
repository = "https://github.com/ripytide/metapac"
readme = "README.md"
keywords = ["package-manager", "linux", "declarative", "cli"]
categories = ["command-line-utilities"]
authors = ["James Forster <james.forsterer@gmail.com>", "Md Isfarul Haque <md-isfarul-haque@proton.me"]
include = [
  "build.rs",
  "src/**/*",
  "Cargo.toml",
  "Cargo.lock",
  "LICENSE*",
  "README.md",
  "benches/**/*",
  "examples/**/*"
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.wix]
upgrade-guid = "3DC3E657-A799-4AB9-9D12-8E1A62D1D583"
path-guid = "CA73C74A-26B9-4E23-9277-FACA0F7765D1"
license = false
eula = false

[dependencies]
color-eyre = "0.6.3"
clap = { version = "4.5.21", features = ["derive"] }
regex = { version = "1.11.1", default-features = false, features = ["std"] }
libc = "0.2.161"
log = { version = "0.4.22", features = ["std"] }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.132"
toml = "0.8.19"
derive_more = { version = "1.0.0", features = ["full"] }
itertools = "0.13.0"
dirs = "5.0.1"
home = "0.5.9"
pretty_env_logger = "0.5.0"
dialoguer = "0.11.0"
serde-inline-default = "0.2.2"
hostname = "0.4.0"
walkdir = "2.5.0"
toml_edit = "0.22.22"
tempfile = "3.14.0"
strum = {version = "0.26.3", features = ["derive"]}
indoc = "2.0.5"

[dev-dependencies]
assert_cmd = "2.0.16"
markdown = "1.0.0-alpha.21"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
